{{! Barra de navegador }}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2A363B;">
  <div class="container-fluid">
    <a class="navbar-brand" href="/products" style="color: #FFFFFF;">Inicio</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Alterna navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/profile" style="color: #FF5733;">Perfil</a>
        <a class="nav-link" href="/cart" style="color: #FF5733;">Carrito</a>
        <a class="nav-link" href="/logout" style="color: #F7B32B;">Salir</a>
      </div>
    </div>
  </div>
</nav>
